*.Debug
*.Release
*.vars
*_resource.rc
debug/
devtools/qt-creator-2.8.1-src-build/
devtools/qt-everywhere-opensource-src-4.8.5/**/ui_*.h
devtools/qt-everywhere-opensource-src-4.8.5/configure.cache
devtools/qt-everywhere-opensource-src-4.8.5/features/
devtools/qt-everywhere-opensource-src-4.8.5/imports/Qt/
devtools/qt-everywhere-opensource-src-4.8.5/include/qwt.h
devtools/qt-everywhere-opensource-src-4.8.5/include/qwt_*.h
devtools/qt-everywhere-opensource-src-4.8.5/lib/*.dll
devtools/qt-everywhere-opensource-src-4.8.5/lib/*.prl
devtools/qt-everywhere-opensource-src-4.8.5/qmake/qmake.exe
devtools/qwt-6.1-multiaxes-build/
devtools/wine/
release/
tmp/
