Makefile
build/Makefile
build/win32/Makefile
build/win32/dirent/Makefile
build/win32/vs8/Makefile
config.h
config.log
config.status
docs/Makefile
docs/reference/Makefile
docs/reference/gio/Makefile
docs/reference/glib/Makefile
docs/reference/gobject/Makefile
gio-2.0-uninstalled.pc
gio-2.0.pc
gio-unix-2.0-uninstalled.pc
gio-unix-2.0.pc
gio/.deps/
gio/.libs/
gio/Makefile
gio/fam/.deps/
gio/fam/Makefile
gio/fen/.deps/
gio/fen/Makefile
gio/gappinfo.lo
gio/gasynchelper.lo
gio/gasyncresult.lo
gio/gbufferedinputstream.lo
gio/gbufferedoutputstream.lo
gio/gcancellable.lo
gio/gcontenttype.lo
gio/gdatainputstream.lo
gio/gdataoutputstream.lo
gio/gdesktopappinfo.lo
gio/gdrive.lo
gio/gdummyfile.lo
gio/gemblem.lo
gio/gemblemedicon.lo
gio/gfile.lo
gio/gfileattribute.lo
gio/gfileenumerator.lo
gio/gfileicon.lo
gio/gfileinfo.lo
gio/gfileinputstream.lo
gio/gfilemonitor.lo
gio/gfilenamecompleter.lo
gio/gfileoutputstream.lo
gio/gfilterinputstream.lo
gio/gfilteroutputstream.lo
gio/gicon.lo
gio/ginputstream.lo
gio/gio-marshal.lo
gio/gioaliasdef.lo
gio/gioenumtypes.lo
gio/gioerror.lo
gio/giomodule.lo
gio/gioscheduler.lo
gio/gloadableicon.lo
gio/glocaldirectorymonitor.lo
gio/glocalfile.lo
gio/glocalfileenumerator.lo
gio/glocalfileinfo.lo
gio/glocalfileinputstream.lo
gio/glocalfilemonitor.lo
gio/glocalfileoutputstream.lo
gio/glocalvfs.lo
gio/gmemoryinputstream.lo
gio/gmemoryoutputstream.lo
gio/gmount.lo
gio/gmountoperation.lo
gio/gnativevolumemonitor.lo
gio/goutputstream.lo
gio/gpollfilemonitor.lo
gio/gseekable.lo
gio/gsimpleasyncresult.lo
gio/gthemedicon.lo
gio/gunionvolumemonitor.lo
gio/gunixinputstream.lo
gio/gunixmount.lo
gio/gunixmounts.lo
gio/gunixoutputstream.lo
gio/gunixvolume.lo
gio/gunixvolumemonitor.lo
gio/gvfs.lo
gio/gvolume.lo
gio/gvolumemonitor.lo
gio/inotify/.deps/
gio/inotify/.libs/
gio/inotify/Makefile
gio/inotify/libinotify.la
gio/inotify/libinotify_la-ginotifydirectorymonitor.lo
gio/inotify/libinotify_la-ginotifyfilemonitor.lo
gio/inotify/libinotify_la-inotify-diag.lo
gio/inotify/libinotify_la-inotify-helper.lo
gio/inotify/libinotify_la-inotify-kernel.lo
gio/inotify/libinotify_la-inotify-missing.lo
gio/inotify/libinotify_la-inotify-path.lo
gio/inotify/libinotify_la-inotify-sub.lo
gio/libgio-2.0.la
gio/tests/.deps/
gio/tests/.libs/
gio/tests/Makefile
gio/tests/data-input-stream
gio/tests/data-input-stream.o
gio/tests/data-output-stream
gio/tests/data-output-stream.o
gio/tests/g-file
gio/tests/g-file-info
gio/tests/g-file-info.o
gio/tests/g-file.o
gio/tests/live-g-file
gio/tests/live-g-file.o
gio/tests/memory-input-stream
gio/tests/memory-input-stream.o
gio/tests/memory-output-stream
gio/tests/memory-output-stream.o
gio/win32/.deps/
gio/win32/Makefile
gio/xdgmime/.deps/
gio/xdgmime/.libs/
gio/xdgmime/Makefile
gio/xdgmime/libxdgmime.la
gio/xdgmime/test-mime
gio/xdgmime/test-mime.o
gio/xdgmime/xdgmime.lo
gio/xdgmime/xdgmimealias.lo
gio/xdgmime/xdgmimecache.lo
gio/xdgmime/xdgmimeglob.lo
gio/xdgmime/xdgmimeicon.lo
gio/xdgmime/xdgmimeint.lo
gio/xdgmime/xdgmimemagic.lo
gio/xdgmime/xdgmimeparent.lo
glib-2.0-uninstalled.pc
glib-2.0.pc
glib-gettextize
glib-zip
glib/.deps/
glib/.libs/
glib/Makefile
glib/garray.lo
glib/gasyncqueue.lo
glib/gatomic.lo
glib/gbacktrace.lo
glib/gbase64.lo
glib/gbookmarkfile.lo
glib/gcache.lo
glib/gchecksum.lo
glib/gcompletion.lo
glib/gconvert.lo
glib/gdataset.lo
glib/gdate.lo
glib/gdir.lo
glib/gerror.lo
glib/gfileutils.lo
glib/ghash.lo
glib/ghook.lo
glib/giochannel.lo
glib/giounix.lo
glib/gkeyfile.lo
glib/glist.lo
glib/gmain.lo
glib/gmappedfile.lo
glib/gmarkup.lo
glib/gmem.lo
glib/gmessages.lo
glib/gnode.lo
glib/gnulib/.deps/
glib/gnulib/.libs/
glib/gnulib/Makefile
glib/gnulib/asnprintf.lo
glib/gnulib/libgnulib.la
glib/gnulib/printf-args.lo
glib/gnulib/printf-parse.lo
glib/gnulib/printf.lo
glib/gnulib/vasnprintf.lo
glib/goption.lo
glib/gpattern.lo
glib/gprimes.lo
glib/gprintf.lo
glib/gqsort.lo
glib/gqueue.lo
glib/grand.lo
glib/gregex.lo
glib/grel.lo
glib/gscanner.lo
glib/gsequence.lo
glib/gshell.lo
glib/gslice.lo
glib/gslist.lo
glib/gspawn.lo
glib/gstdio.lo
glib/gstrfuncs.lo
glib/gstring.lo
glib/gtester
glib/gtester.o
glib/gtestutils.lo
glib/gthread.lo
glib/gthreadpool.lo
glib/gtimer.lo
glib/gtree.lo
glib/gunibreak.lo
glib/gunicollate.lo
glib/gunidecomp.lo
glib/guniprop.lo
glib/gurifuncs.lo
glib/gutf8.lo
glib/gutils.lo
glib/libcharset/.deps/
glib/libcharset/.libs/
glib/libcharset/Makefile
glib/libcharset/charset.alias
glib/libcharset/libcharset.la
glib/libcharset/localcharset.lo
glib/libcharset/ref-add.sed
glib/libcharset/ref-del.sed
glib/libglib-2.0.la
glib/pcre/.deps/
glib/pcre/.libs/
glib/pcre/Makefile
glib/pcre/libpcre.la
glib/pcre/pcre_chartables.lo
glib/pcre/pcre_compile.lo
glib/pcre/pcre_config.lo
glib/pcre/pcre_dfa_exec.lo
glib/pcre/pcre_exec.lo
glib/pcre/pcre_fullinfo.lo
glib/pcre/pcre_get.lo
glib/pcre/pcre_globals.lo
glib/pcre/pcre_info.lo
glib/pcre/pcre_maketables.lo
glib/pcre/pcre_newline.lo
glib/pcre/pcre_ord2utf8.lo
glib/pcre/pcre_refcount.lo
glib/pcre/pcre_study.lo
glib/pcre/pcre_tables.lo
glib/pcre/pcre_try_flipped.lo
glib/pcre/pcre_ucp_searchfuncs.lo
glib/pcre/pcre_valid_utf8.lo
glib/pcre/pcre_version.lo
glib/pcre/pcre_xclass.lo
glib/tests/.deps/
glib/tests/.libs/
glib/tests/Makefile
glib/tests/array-test
glib/tests/array-test.o
glib/tests/fileutils
glib/tests/fileutils.o
glib/tests/keyfile
glib/tests/keyfile.o
glib/tests/markup-subparser
glib/tests/markup-subparser.o
glib/tests/option-context
glib/tests/option-context.o
glib/tests/printf
glib/tests/printf.o
glib/tests/rand
glib/tests/rand.o
glib/tests/strfuncs
glib/tests/strfuncs.o
glib/tests/string
glib/tests/string.o
glib/tests/testing
glib/tests/testing.o
glib/update-pcre/Makefile
glibconfig.h
gmodule-2.0-uninstalled.pc
gmodule-2.0.pc
gmodule-export-2.0.pc
gmodule-no-export-2.0-uninstalled.pc
gmodule-no-export-2.0.pc
gmodule/.deps/
gmodule/.libs/
gmodule/Makefile
gmodule/gmodule.lo
gmodule/gmoduleconf.h
gmodule/libgmodule-2.0.la
gobject-2.0-uninstalled.pc
gobject-2.0.pc
gobject/.deps/
gobject/.libs/
gobject/Makefile
gobject/gboxed.lo
gobject/gclosure.lo
gobject/genums.lo
gobject/glib-genmarshal
gobject/glib-genmarshal.o
gobject/glib-mkenums
gobject/gobject-query
gobject/gobject-query.o
gobject/gobject.lo
gobject/gparam.lo
gobject/gparamspecs.lo
gobject/gsignal.lo
gobject/gsourceclosure.lo
gobject/gtype.lo
gobject/gtypemodule.lo
gobject/gtypeplugin.lo
gobject/gvalue.lo
gobject/gvaluearray.lo
gobject/gvaluetransform.lo
gobject/gvaluetypes.lo
gobject/libgobject-2.0.la
gobject/testgobject
gobject/testgobject.o
gobject/tests/.deps/
gobject/tests/.libs/
gobject/tests/Makefile
gobject/tests/threadtests
gobject/tests/threadtests.o
gthread-2.0-uninstalled.pc
gthread-2.0.pc
gthread/.deps/
gthread/.libs/
gthread/Makefile
gthread/gthread-impl.lo
gthread/libgthread-2.0.la
libtool
m4macros/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-gc-h
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/errorcheck-mutex-test
tests/errorcheck-mutex-test.o
tests/gobject/.deps/
tests/gobject/.libs/
tests/gobject/Makefile
tests/gobject/libtestgobject.la
tests/gobject/stamp-testmarshal.h
tests/gobject/testmarshal.lo
tests/gobject/testmodule.lo
tests/libmoduletestplugin_a.la
tests/libmoduletestplugin_a.lo
tests/libmoduletestplugin_b.la
tests/libmoduletestplugin_b.lo
tests/refcount/.deps/
tests/refcount/.libs/
tests/refcount/Makefile
tests/refcount/closures
tests/refcount/closures.o
tests/refcount/objects
tests/refcount/objects.o
tests/refcount/objects2
tests/refcount/objects2.o
tests/refcount/properties
tests/refcount/properties.o
tests/refcount/properties2
tests/refcount/properties2.o
tests/refcount/signal1
tests/refcount/signal1-signals.o
tests/refcount/signal2
tests/refcount/signal2-signals.o
tests/refcount/signal3
tests/refcount/signal3-signals.o
tests/scannerapi
tests/scannerapi.o
tests/testgdate
tests/testgdate.o
tests/testgdateparser
tests/testgdateparser.o
tests/testglib
tests/testglib.o
tests/testingbase64
tests/testingbase64.o
tests/timeloop
tests/timeloop-closure
tests/timeloop-closure.o
tests/timeloop.o
tests/unicode-collate
tests/unicode-collate.o
tests/unicode-normalize
tests/unicode-normalize.o
