.*.swp
*.o
tmp
images
ltib.reference
ltib
projects/4c_runtime
projects/ATCMcontrol_RunTimeSystem
projects/cgic_work/extract
projects/cgic_work/getdatesinterval
projects/cgic_work/updateall.cgi
projects/cgic_work/upgrade.cgi
projects/devtools/qt-everywhere-opensource-src-4.8.5/bin
projects/devtools/qt-everywhere-opensource-src-4.8.5/config.tests
projects/devtools/qt-everywhere-opensource-src-4.8.5/lib/lib*
projects/devtools/qt-everywhere-opensource-src-4.8.5/lib/pkgconfig
projects/devtools/qt-everywhere-opensource-src-4.8.5/Makefile
projects/devtools/qt-everywhere-opensource-src-4.8.5/translations/Makefile
projects/devtools/qt-everywhere-opensource-src-4.8.5/translations/*.qm
projects/localfs
projects/mect_apps
projects/mect_plugins
projects/splash/Makefile
projects/splash/moc_splash.cpp
projects/splash/splash
projects/splash/ui_splash.h
src/arm-2011.03-41-arm-none-linux-gnueabi-i686-pc-linux-gnu.tar.bz2
src/arm-2011.03-41-arm-none-linux-gnueabi-i686-pc-linux-gnu.tar.bz2.md5
src/L2.6.35_1.1.0_130130_source.tar.gz
src/L2.6.35_1.1.0_130130_source.tar.gz.md5
src/patch-ltib-ubuntu12.04.sh
src/patch-ltib-ubuntu12.04.sh.md5
src/qt-everywhere-opensource-src-4.8.5-1420823826.patch
src/qt-everywhere-opensource-src-4.8.5-1420823826.patch.md5
src/qt-everywhere-opensource-src-4.8.5.tar.gz
src/qt-everywhere-opensource-src-4.8.5.tar.gz.md5
