.*.swp
*.o
/tmp
/images
/ltib.reference
/ltib
/projects/4c_runtime
/projects/ATCMcontrol_RunTimeSystem
/projects/cgic_work/extract
/projects/cgic_work/getdatesinterval
/projects/cgic_work/updateall.cgi
/projects/cgic_work/upgrade.cgi
/projects/devtools/qt-everywhere-opensource-src-4.8.5/bin
/projects/devtools/qt-everywhere-opensource-src-4.8.5/config.status
/projects/devtools/qt-everywhere-opensource-src-4.8.5/config.tests
/projects/devtools/qt-everywhere-opensource-src-4.8.5/imports/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/lib/lib*
/projects/devtools/qt-everywhere-opensource-src-4.8.5/lib/pkgconfig
/projects/devtools/qt-everywhere-opensource-src-4.8.5/**/Makefile
/projects/devtools/qt-everywhere-opensource-src-4.8.5/mkspecs/default
/projects/devtools/qt-everywhere-opensource-src-4.8.5/mkspecs/qconfig.pri
/projects/devtools/qt-everywhere-opensource-src-4.8.5/mkspecs/qdevice.pri
/projects/devtools/qt-everywhere-opensource-src-4.8.5/**/.moc/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/**/.pch/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/plugins/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/.qmake.cache
/projects/devtools/qt-everywhere-opensource-src-4.8.5/**/.rcc/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/3rdparty/webkit/Source/JavaScriptCore/release/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/3rdparty/webkit/Source/WebCore/release/
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/corelib/global/qconfig.cpp
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/corelib/global/qconfig.h
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/corelib/global/qconfig.h.qmake
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/tools/bootstrap/libbootstrap.a
/projects/devtools/qt-everywhere-opensource-src-4.8.5/src/tools/bootstrap/libbootstrap.prl
/projects/devtools/qt-everywhere-opensource-src-4.8.5/tools/qtestlib/updater/updater
/projects/devtools/qt-everywhere-opensource-src-4.8.5/translations/*.qm
/projects/devtools/qt-everywhere-opensource-src-4.8.5/**/.uic/
/projects/localfs
/projects/mect_apps
/projects/mect_plugins
/projects/splash/Makefile
/projects/splash/moc_splash.cpp
/projects/splash/splash
/projects/splash/ui_splash.h
/src/arm-2011.03-41-arm-none-linux-gnueabi-i686-pc-linux-gnu.tar.bz2
/src/arm-2011.03-41-arm-none-linux-gnueabi-i686-pc-linux-gnu.tar.bz2.md5
/src/L2.6.35_1.1.0_130130_source.tar.gz
/src/L2.6.35_1.1.0_130130_source.tar.gz.md5
/src/patch-ltib-ubuntu12.04.sh
/src/patch-ltib-ubuntu12.04.sh.md5
/src/qt-everywhere-opensource-src-4.8.5-1420823826.patch
/src/qt-everywhere-opensource-src-4.8.5-1420823826.patch.md5
/src/qt-everywhere-opensource-src-4.8.5.tar.gz
/src/qt-everywhere-opensource-src-4.8.5.tar.gz.md5
