cflags
clean_exit.o
diag.o
eval.o
fakelog.o
fix_options.o
fromhost.o
hosts_access.o
hosts_ctl.o
inetcf.o
libwrap.a
misc.o
myvsyslog.o
options.o
percent_m.o
percent_x.o
refuse.o
rfc931.o
safe_finger
safe_finger.o
scaffold.o
shared/
shell_cmd.o
socket.o
tcpd
tcpd.o
tcpdchk
tcpdchk.o
tcpdmatch
tcpdmatch.o
tli.o
try-from
try-from.o
update.o
weak_symbols.o
workarounds.o
