.compr.c.dep
.compr_lzo.c.dep
.compr_rtime.c.dep
.compr_zlib.c.dep
.crc32.c.dep
.doc_loadbios.c.dep
.docfdisk.c.dep
.fec.c.dep
.flash_erase.c.dep
.flash_eraseall.c.dep
.flash_info.c.dep
.flash_lock.c.dep
.flash_otp_dump.c.dep
.flash_otp_info.c.dep
.flash_unlock.c.dep
.flashcp.c.dep
.ftl_check.c.dep
.ftl_format.c.dep
.jffs2dump.c.dep
.mkfs.jffs2.c.dep
.mtd_debug.c.dep
.nanddump.c.dep
.nandtest.c.dep
.nandwrite.c.dep
.nftl_format.c.dep
.nftldump.c.dep
.rbtree.c.dep
.recv_image.c.dep
.rfddump.c.dep
.rfdformat.c.dep
.serve_image.c.dep
.sumtool.c.dep
compr.o
compr_lzo.o
compr_rtime.o
compr_zlib.o
crc32.o
doc_loadbios
docfdisk
fec.o
flash_erase
flash_eraseall
flash_eraseall.o
flash_info
flash_lock
flash_otp_dump
flash_otp_info
flash_unlock
flashcp
ftl_check
ftl_format
jffs2dump
jffs2dump.o
mkfs.jffs2
mkfs.jffs2.o
mkfs.ubifs/.compr.c.dep
mkfs.ubifs/.crc16.c.dep
mkfs.ubifs/.crc32.c.dep
mkfs.ubifs/.devtable.c.dep
mkfs.ubifs/.hashtable.c.dep
mkfs.ubifs/.hashtable_itr.c.dep
mkfs.ubifs/.lpt.c.dep
mkfs.ubifs/.mkfs.ubifs.c.dep
mkfs.ubifs/compr.o
mkfs.ubifs/crc16.o
mkfs.ubifs/crc32.o
mkfs.ubifs/devtable.o
mkfs.ubifs/hashtable/hashtable.o
mkfs.ubifs/hashtable/hashtable_itr.o
mkfs.ubifs/lpt.o
mkfs.ubifs/mkfs.ubifs
mtd_debug
nanddump
nandtest
nandwrite
nftl_format
nftldump
rbtree.o
recv_image
recv_image.o
rfddump
rfdformat
serve_image
serve_image.o
sumtool
sumtool.o
ubi-utils/.common.c.dep
ubi-utils/.crc32.c.dep
ubi-utils/.dictionary.c.dep
ubi-utils/.libiniparser.c.dep
ubi-utils/.libmtd.c.dep
ubi-utils/.libmtd_legacy.c.dep
ubi-utils/.libscan.c.dep
ubi-utils/.libubi.c.dep
ubi-utils/.libubigen.c.dep
ubi-utils/.mtdinfo.c.dep
ubi-utils/.ubiattach.c.dep
ubi-utils/.ubicrc32.c.dep
ubi-utils/.ubidetach.c.dep
ubi-utils/.ubiformat.c.dep
ubi-utils/.ubimkvol.c.dep
ubi-utils/.ubinfo.c.dep
ubi-utils/.ubinize.c.dep
ubi-utils/.ubirename.c.dep
ubi-utils/.ubirmvol.c.dep
ubi-utils/.ubirsvol.c.dep
ubi-utils/.ubiupdatevol.c.dep
ubi-utils/common.o
ubi-utils/crc32.o
ubi-utils/dictionary.o
ubi-utils/libiniparser.a
ubi-utils/libiniparser.o
ubi-utils/libmtd.a
ubi-utils/libmtd.o
ubi-utils/libmtd_legacy.o
ubi-utils/libscan.a
ubi-utils/libscan.o
ubi-utils/libubi.a
ubi-utils/libubi.o
ubi-utils/libubigen.a
ubi-utils/libubigen.o
ubi-utils/mtdinfo
ubi-utils/old-utils/.bin2nand.c.dep
ubi-utils/old-utils/.bootenv.c.dep
ubi-utils/old-utils/.crc32.c.dep
ubi-utils/old-utils/.eb_chain.c.dep
ubi-utils/old-utils/.error.c.dep
ubi-utils/old-utils/.hashmap.c.dep
ubi-utils/old-utils/.libpfiflash.c.dep
ubi-utils/old-utils/.libubi.c.dep
ubi-utils/old-utils/.libubigen.c.dep
ubi-utils/old-utils/.libubimirror.c.dep
ubi-utils/old-utils/.list.c.dep
ubi-utils/old-utils/.mkbootenv.c.dep
ubi-utils/old-utils/.nand2bin.c.dep
ubi-utils/old-utils/.nandcorr.c.dep
ubi-utils/old-utils/.nandecc.c.dep
ubi-utils/old-utils/.pddcustomize.c.dep
ubi-utils/old-utils/.peb.c.dep
ubi-utils/old-utils/.pfi.c.dep
ubi-utils/old-utils/.pfi2bin.c.dep
ubi-utils/old-utils/.pfiflash.c.dep
ubi-utils/old-utils/.reader.c.dep
ubi-utils/old-utils/.ubigen.c.dep
ubi-utils/old-utils/.ubimirror.c.dep
ubi-utils/old-utils/.unubi.c.dep
ubi-utils/old-utils/.unubi_analyze.c.dep
ubi-utils/old-utils/bin2nand
ubi-utils/old-utils/bin2nand.o
ubi-utils/old-utils/bootenv.o
ubi-utils/old-utils/crc32.o
ubi-utils/old-utils/eb_chain.o
ubi-utils/old-utils/error.o
ubi-utils/old-utils/hashmap.o
ubi-utils/old-utils/libpfiflash.o
ubi-utils/old-utils/libubi.o
ubi-utils/old-utils/libubigen.o
ubi-utils/old-utils/libubimirror.o
ubi-utils/old-utils/list.o
ubi-utils/old-utils/mkbootenv
ubi-utils/old-utils/mkbootenv.o
ubi-utils/old-utils/nand2bin
ubi-utils/old-utils/nand2bin.o
ubi-utils/old-utils/nandcorr.o
ubi-utils/old-utils/nandecc.o
ubi-utils/old-utils/pddcustomize
ubi-utils/old-utils/pddcustomize.o
ubi-utils/old-utils/peb.o
ubi-utils/old-utils/pfi.o
ubi-utils/old-utils/pfi2bin
ubi-utils/old-utils/pfi2bin.o
ubi-utils/old-utils/pfiflash
ubi-utils/old-utils/pfiflash.o
ubi-utils/old-utils/reader.o
ubi-utils/old-utils/ubigen
ubi-utils/old-utils/ubigen.o
ubi-utils/old-utils/ubimirror
ubi-utils/old-utils/ubimirror.o
ubi-utils/old-utils/unubi
ubi-utils/old-utils/unubi.o
ubi-utils/old-utils/unubi_analyze.o
ubi-utils/ubiattach
ubi-utils/ubicrc32
ubi-utils/ubicrc32.o
ubi-utils/ubidetach
ubi-utils/ubiformat
ubi-utils/ubiformat.o
ubi-utils/ubimkvol
ubi-utils/ubinfo
ubi-utils/ubinize
ubi-utils/ubinize.o
ubi-utils/ubirename
ubi-utils/ubirmvol
ubi-utils/ubirsvol
ubi-utils/ubiupdatevol
