Makefile
access.o
authenticate.o
backup.o
batch.o
checksum.o
cleanup.o
clientname.o
clientserver.o
compat.o
config.h
config.log
config.status
connection.o
exclude.o
fileio.o
flist.o
generator.o
hlink.o
io.o
lib/compat.o
lib/dummy
lib/mdfour.o
lib/permstring.o
lib/pool_alloc.o
lib/snprintf.o
lib/wildmatch.o
loadparm.o
log.o
main.o
match.o
options.o
params.o
pipe.o
popt/dummy
popt/findme.o
popt/popt.o
popt/poptconfig.o
popt/popthelp.o
popt/poptparse.o
progress.o
receiver.o
rsync
rsync.o
sender.o
shconfig
socket.o
syscall.o
token.o
uidlist.o
util.o
zlib/adler32.o
zlib/deflate.o
zlib/dummy
zlib/infblock.o
zlib/infcodes.o
zlib/inffast.o
zlib/inflate.o
zlib/inftrees.o
zlib/infutil.o
zlib/trees.o
zlib/zutil.o
