builds/unix/a.out
builds/unix/config.log
builds/unix/config.status
builds/unix/freetype-config
builds/unix/freetype2.pc
builds/unix/ftconfig.h
builds/unix/libtool
builds/unix/unix-cc.mk
builds/unix/unix-def.mk
config.mk
objs/.libs/
objs/apinames
objs/autofit.lo
objs/autofit.o
objs/bdf.lo
objs/bdf.o
objs/cff.lo
objs/cff.o
objs/ftbase.lo
objs/ftbase.o
objs/ftbbox.lo
objs/ftbbox.o
objs/ftbdf.lo
objs/ftbdf.o
objs/ftbitmap.lo
objs/ftbitmap.o
objs/ftcache.lo
objs/ftcache.o
objs/ftcid.lo
objs/ftcid.o
objs/ftdebug.lo
objs/ftdebug.o
objs/ftexport.sym
objs/ftfstype.lo
objs/ftfstype.o
objs/ftgasp.lo
objs/ftgasp.o
objs/ftglyph.lo
objs/ftglyph.o
objs/ftgxval.lo
objs/ftgxval.o
objs/ftgzip.lo
objs/ftgzip.o
objs/ftinit.lo
objs/ftinit.o
objs/ftlcdfil.lo
objs/ftlcdfil.o
objs/ftlzw.lo
objs/ftlzw.o
objs/ftmm.lo
objs/ftmm.o
objs/ftmodule.h
objs/ftotval.lo
objs/ftotval.o
objs/ftpatent.lo
objs/ftpatent.o
objs/ftpfr.lo
objs/ftpfr.o
objs/ftstroke.lo
objs/ftstroke.o
objs/ftsynth.lo
objs/ftsynth.o
objs/ftsystem.lo
objs/ftsystem.o
objs/fttype1.lo
objs/fttype1.o
objs/ftwinfnt.lo
objs/ftwinfnt.o
objs/ftxf86.lo
objs/ftxf86.o
objs/libfreetype.la
objs/pcf.lo
objs/pcf.o
objs/pfr.lo
objs/pfr.o
objs/psaux.lo
objs/psaux.o
objs/pshinter.lo
objs/pshinter.o
objs/psnames.lo
objs/psnames.o
objs/raster.lo
objs/raster.o
objs/sfnt.lo
objs/sfnt.o
objs/smooth.lo
objs/smooth.o
objs/truetype.lo
objs/truetype.o
objs/type1.lo
objs/type1.o
objs/type1cid.lo
objs/type1cid.o
objs/type42.lo
objs/type42.o
objs/winfnt.lo
objs/winfnt.o
