Makefile
config.h
config.log
config.status
etc/Makefile
libtool
plugins/.deps/
plugins/.libs/
plugins/Makefile
plugins/arctic2-raw.lo
plugins/arctic2.la
plugins/collie-raw.lo
plugins/collie.la
plugins/corgi-raw.lo
plugins/corgi.la
plugins/dejitter.la
plugins/dejitter.lo
plugins/h3600-raw.lo
plugins/h3600.la
plugins/input-raw.lo
plugins/input.la
plugins/linear-h2200.lo
plugins/linear.la
plugins/linear.lo
plugins/linear_h2200.la
plugins/mk712-raw.lo
plugins/mk712.la
plugins/pthres.la
plugins/pthres.lo
plugins/ucb1x00-raw.lo
plugins/ucb1x00.la
plugins/variance.la
plugins/variance.lo
src/.deps/
src/.libs/
src/Makefile
src/libts.la
src/ts_attach.lo
src/ts_close.lo
src/ts_config.lo
src/ts_error.lo
src/ts_fd.lo
src/ts_load_module.lo
src/ts_open.lo
src/ts_parse_vars.lo
src/ts_read.lo
src/ts_read_raw.lo
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/fbutils.o
tests/font_8x16.o
tests/font_8x8.o
tests/testutils.o
tests/ts_calibrate
tests/ts_calibrate.o
tests/ts_harvest
tests/ts_harvest.o
tests/ts_print
tests/ts_print.o
tests/ts_print_raw
tests/ts_print_raw.o
tests/ts_test
tests/ts_test.o
tslib-1.0.pc
