Makefile
build/Makefile
build/msvc/Makefile
build/msvc/msvc-generate/Makefile
config.h
config.log
config.status
distro/Makefile
distro/rpm/Makefile
doc/Makefile
include/Makefile
libtool
sample/Makefile
src/Makefile
src/compat/.deps/
src/compat/.libs/
src/compat/Makefile
src/compat/compat-basename.lo
src/compat/compat-basename.o
src/compat/compat-daemon.lo
src/compat/compat-daemon.o
src/compat/compat-dirname.lo
src/compat/compat-dirname.o
src/compat/compat-gettimeofday.lo
src/compat/compat-gettimeofday.o
src/compat/compat-inet_ntop.lo
src/compat/compat-inet_ntop.o
src/compat/compat-inet_pton.lo
src/compat/compat-inet_pton.o
src/compat/libcompat.la
src/openvpn/.deps/
src/openvpn/Makefile
src/openvpn/base64.o
src/openvpn/buffer.o
src/openvpn/clinat.o
src/openvpn/console.o
src/openvpn/crypto.o
src/openvpn/crypto_openssl.o
src/openvpn/crypto_polarssl.o
src/openvpn/cryptoapi.o
src/openvpn/dhcp.o
src/openvpn/error.o
src/openvpn/event.o
src/openvpn/fdmisc.o
src/openvpn/forward.o
src/openvpn/fragment.o
src/openvpn/gremlin.o
src/openvpn/helper.o
src/openvpn/httpdigest.o
src/openvpn/init.o
src/openvpn/interval.o
src/openvpn/list.o
src/openvpn/lladdr.o
src/openvpn/lzo.o
src/openvpn/manage.o
src/openvpn/mbuf.o
src/openvpn/misc.o
src/openvpn/mroute.o
src/openvpn/mss.o
src/openvpn/mstats.o
src/openvpn/mtcp.o
src/openvpn/mtu.o
src/openvpn/mudp.o
src/openvpn/multi.o
src/openvpn/ntlm.o
src/openvpn/occ.o
src/openvpn/openvpn
src/openvpn/openvpn.o
src/openvpn/options.o
src/openvpn/otime.o
src/openvpn/packet_id.o
src/openvpn/perf.o
src/openvpn/pf.o
src/openvpn/ping.o
src/openvpn/pkcs11.o
src/openvpn/pkcs11_openssl.o
src/openvpn/pkcs11_polarssl.o
src/openvpn/platform.o
src/openvpn/plugin.o
src/openvpn/pool.o
src/openvpn/proto.o
src/openvpn/proxy.o
src/openvpn/ps.o
src/openvpn/push.o
src/openvpn/reliable.o
src/openvpn/route.o
src/openvpn/schedule.o
src/openvpn/session_id.o
src/openvpn/shaper.o
src/openvpn/sig.o
src/openvpn/socket.o
src/openvpn/socks.o
src/openvpn/ssl.o
src/openvpn/ssl_openssl.o
src/openvpn/ssl_polarssl.o
src/openvpn/ssl_verify.o
src/openvpn/ssl_verify_openssl.o
src/openvpn/ssl_verify_polarssl.o
src/openvpn/status.o
src/openvpn/tun.o
src/openvpn/win32.o
src/openvpnserv/.deps/
src/openvpnserv/Makefile
src/plugins/Makefile
src/plugins/auth-pam/.deps/
src/plugins/auth-pam/Makefile
src/plugins/down-root/.deps/
src/plugins/down-root/.libs/
src/plugins/down-root/Makefile
src/plugins/down-root/down-root.lo
src/plugins/down-root/down-root.o
src/plugins/down-root/openvpn-plugin-down-root.la
stamp-h1
tests/Makefile
version.sh
