Makefile
conf.d/Makefile
config.h
config.log
config.status
doc/.deps/
doc/Makefile
doc/edit-sgml
doc/edit-sgml.o
doc/version.sgml
fc-arch/.deps/
fc-arch/Makefile
fc-arch/fc-arch
fc-arch/fc-arch.o
fc-arch/fcalias.h
fc-arch/fcaliastail.h
fc-cache/.deps/
fc-cache/.libs/
fc-cache/Makefile
fc-cache/fc-cache
fc-cache/fc-cache.o
fc-case/.deps/
fc-case/Makefile
fc-case/fc-case
fc-case/fc-case.o
fc-case/fcalias.h
fc-case/fcaliastail.h
fc-cat/.deps/
fc-cat/.libs/
fc-cat/Makefile
fc-cat/fc-cat
fc-cat/fc-cat.o
fc-glyphname/.deps/
fc-glyphname/Makefile
fc-glyphname/fc-glyphname
fc-glyphname/fc-glyphname.o
fc-glyphname/fcalias.h
fc-glyphname/fcaliastail.h
fc-lang/.deps/
fc-lang/Makefile
fc-lang/fc-lang
fc-lang/fc-lang.o
fc-lang/fcalias.h
fc-lang/fcaliastail.h
fc-list/.deps/
fc-list/.libs/
fc-list/Makefile
fc-list/fc-list
fc-list/fc-list.o
fc-match/.deps/
fc-match/.libs/
fc-match/Makefile
fc-match/fc-match
fc-match/fc-match.o
fontconfig-zip
fontconfig.pc
fontconfig/Makefile
fonts.conf
libtool
src/.deps/
src/.libs/
src/Makefile
src/fcalias.h
src/fcaliastail.h
src/fcatomic.lo
src/fcatomic.o
src/fcblanks.lo
src/fcblanks.o
src/fccache.lo
src/fccache.o
src/fccfg.lo
src/fccfg.o
src/fccharset.lo
src/fccharset.o
src/fcdbg.lo
src/fcdbg.o
src/fcdefault.lo
src/fcdefault.o
src/fcdir.lo
src/fcdir.o
src/fcfreetype.lo
src/fcfreetype.o
src/fcfs.lo
src/fcfs.o
src/fcinit.lo
src/fcinit.o
src/fclang.lo
src/fclang.o
src/fclist.lo
src/fclist.o
src/fcmatch.lo
src/fcmatch.o
src/fcmatrix.lo
src/fcmatrix.o
src/fcname.lo
src/fcname.o
src/fcpat.lo
src/fcpat.o
src/fcserialize.lo
src/fcserialize.o
src/fcstr.lo
src/fcstr.o
src/fcxml.lo
src/fcxml.o
src/ftglue.lo
src/ftglue.o
src/libfontconfig.la
stamp-h1
test/Makefile
