Makefile
config.h
config.log
config.status
doc/Makefile
doc/doxygen.cfg
examples/.deps/
examples/Makefile
libtool
libusb-1.0.pc
libusb/.deps/
libusb/.libs/
libusb/Makefile
libusb/libusb-1.0.la
libusb/libusb_1_0_la-core.lo
libusb/libusb_1_0_la-core.o
libusb/libusb_1_0_la-descriptor.lo
libusb/libusb_1_0_la-descriptor.o
libusb/libusb_1_0_la-hotplug.lo
libusb/libusb_1_0_la-hotplug.o
libusb/libusb_1_0_la-io.lo
libusb/libusb_1_0_la-io.o
libusb/libusb_1_0_la-strerror.lo
libusb/libusb_1_0_la-strerror.o
libusb/libusb_1_0_la-sync.lo
libusb/libusb_1_0_la-sync.o
libusb/os/.deps/
libusb/os/.dirstamp
libusb/os/.libs/
libusb/os/libusb_1_0_la-linux_netlink.lo
libusb/os/libusb_1_0_la-linux_netlink.o
libusb/os/libusb_1_0_la-linux_usbfs.lo
libusb/os/libusb_1_0_la-linux_usbfs.o
libusb/os/libusb_1_0_la-poll_posix.lo
libusb/os/libusb_1_0_la-poll_posix.o
libusb/os/libusb_1_0_la-threads_posix.lo
libusb/os/libusb_1_0_la-threads_posix.o
stamp-h1
tests/.deps/
tests/Makefile
