GNUmakefile
config.log
config.status
config/GNUmakefile
config/libsocketcan.pc
include/GNUmakefile
include/libsocketcan_config.h
include/stamp-h1
libtool
src/.deps/
src/.libs/
src/GNUmakefile
src/libsocketcan.la
src/libsocketcan.lo
src/libsocketcan.o
tests/.deps/
tests/.libs/
tests/GNUmakefile
tests/test
tests/test.o
