Makefile
doc/Makefile
lib/
playground/Makefile
playground/curvetracker/Makefile
playground/graphicscale/Makefile
playground/plotmatrix/Makefile
playground/rescaler/Makefile
playground/scaleengine/Makefile
playground/shapes/Makefile
playground/symbols/Makefile
playground/timescale/Makefile
src/Makefile
src/moc/
src/obj/
textengines/Makefile
textengines/mathml/Makefile
textengines/mathml/obj/
